[Unit]
Description=Configure ST calibration SocketCAN interface
Wants=systemd-udev-settle.service
After=systemd-modules-load.service systemd-udev-settle.service

[Service]
Type=simple
Restart=on-failure
RestartSec=2
ExecStartPre=/usr/sbin/modprobe slcan
ExecStartPre=/bin/sh -c 'if /usr/sbin/ip link show can0 >/dev/null 2>&1; then /usr/sbin/ip link set can0 down; fi'
ExecStart=/usr/bin/slcand -F -o -c -f -s4 -S 115200 /dev/serial/by-id/usb-Openlight_Labs_CANable2_b158aa7_github.com_normaldotcom_canable2.git_206938504D4D-if00 can0
ExecStartPost=/bin/sh -c 'for i in 1 2 3 4 5 6 7 8 9 10; do /usr/sbin/ip link show can0 >/dev/null 2>&1 && /usr/sbin/ip link set can0 up && exit 0; sleep 1; done; exit 1'
ExecStopPost=/bin/sh -c 'if /usr/sbin/ip link show can0 >/dev/null 2>&1; then /usr/sbin/ip link set can0 down; fi'

[Install]
WantedBy=multi-user.target
